body {
  background-color: #D9E2DC;
}

.entryBody {
    
    margin: 0;
    padding: 0;
    text-align: center;
    top: 50%;
}

.EntryPageHeader {
    
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.EntryPageQuestion {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.5px;
  font-weight: bold; 
  color: #475149; 
  margin-bottom: 15px;
}

  
  .RightArrowContainer {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%,-50%);
    width: 65px;
    height: 65px;
    cursor: pointer;
  }

  .RightArrow {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    background-image: url("../../public/rightarrow.png");
    background-size: cover;
  }
  
  .LeftArrowContainer {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    width: 65px;
    height: 65px;
    cursor: pointer;
  }
  
  .LeftArrow {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    background-image: url("../../public/leftarrow.png");
    background-size: cover;
  }