.btn-GraphButton{
    color: var(--white);
    background-color: var(--white);
    border: var(--darkgrey) 0px solid;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--l);
}
.btn-GraphButton:hover, .btn-GraphButton:active, .btn-GraphButton.active, .btn-GraphButton:focus {
    background-color: var(--primary);
    border: var(--primary) 1px solid;
    outline: none;
    box-shadow: none;
}

.Journey-Header {
    
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin-bottom: -40px;
    color: #475149; 
}

.Journey-Underline {
    width: 70px;
    height: 3px;
    background-color: var(--primary);
    justify-content: center;
    text-align: center;
    margin-left: 50%;
    left: -35px;
    position: relative;
}