.Leaderboard-Header {
    
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin-bottom: -40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    position: relative;
    margin-left: -10%;
    margin-right: -10%;
  }
  
  .footer-item {
    /*border: 1px solid #fff;
    background-color: #D6E9FE;*/
    height: 200px;
    flex: 1;
    margin-left: 6px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
  }

  .Leaderboard-SubHeader {
    display: flex;
    align-self: stretch;
    height: 25px;
    background: var(--primary);
    border-radius: 5px;
    display: inline-block;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
    color: var(--white); 
    margin-bottom: 10px;
    white-space:nowrap;
    text-align: center;
}