.Stats-container{
    border: var(--darkgrey) 0px solid;
    padding: 18px;
    background-color: rgba(0, 0, 0, 0.0);
    text-align: center;
    border-radius: var(--l);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0);
}

.Stats-labels{
    font-size: 30px;
    color: var(--black);
}

.Stats-title{
    font-size: 30px;
    color: var(--black);
    font-weight: bold;
}

.Stats-data{
    font-size: 32px;
    font-weight: 100;
    color: var(--black);
    padding: var(--m);
}

.Stats-box{
    padding: 30px;
}

.range {
    text-align: center;
    place-items: center;
    display: inline-block;
}

.Journey-Header {
    transform: translateY(25%);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 40px;
    color: #475149; 
    font-size: 30px;
}

.Journey-Underline {
    width: 70px;
    height: 3px;
    background-color: var(--primary);
    justify-content: center;
    text-align: center;
    margin-left: 50%;
    left: -35px;
    position: relative;
}